footer, nav {
    background-color: #06142F !important;
}

body {
    background-color: #020D24 !important;
    color: #6490F3 !important;
}

#TextBox {
    background-color: #9FB9F6 !important;
}

#TextArea {
    background-color: #9FB9F6 !important;
    height: 200px !important;
}

button {
    background-color: #6490F3 !important;
}