@model Person
@{
    ViewData["Title"] = "PersonInfo";
}

<h2>Your information</h2>
<ul>
    <li>Your name: @Model.Name</li>
    <li>Your PhoneNumber: @Model.PhoneNumber</li>
    <li>Your Email: @Model.Email</li>
    <li>Your Message: @Model.Message</li>
</ul>

